﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @*<div>
        <button type="button" class="btn btn-success" onclick="notificationTrigger();">
            Trigger Notification!
        </button>
    </div>*@
</div>
