﻿@{
    ViewData["Title"] = "Notification Trigger via NotificationService";
}

<h1>@ViewData["Title"]</h1>

<form action="javascript:;" method="post" id="trigger-form">
    <div class="form-group">
        <label for="sender">Sender</label>
        <input type="text" readonly class="form-control" name="sender" aria-describedby="emailHelp" value="user@example.com">
        @*<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>*@
    </div>
    <div class="form-group">
        <label for="receiver">Receiver</label>
        <input type="text" readonly class="form-control" name="receiver" value="user@example.com">
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" name="title" required>
    </div>
    <div class="form-group">
        <label for="message">Message</label>
        <input type="text" class="form-control" name="message" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts {
    <script src="~/js/notification-trigger.js"></script>
}