<script>
	import * as signalR from '@microsoft/signalr';
import { onMount } from 'svelte';

	export let name;

	let connection;
	let notifications = [];

	onMount(() => {
		connection = new signalR
			.HubConnectionBuilder()
			.withUrl("https://localhost:6001/notificationHub", {
				transport: signalR.HttpTransportType.WebSockets,
			})
			.configureLogging(signalR.LogLevel.Debug)
			.withAutomaticReconnect()
			.build();

		connection.on("NotificationReceive", (title, message) => {
			console.log("NotificationReceive");
			console.log(title);
			console.log(message);
		});

		connection.on("SendNotificationToUser", (title, message) => {
			console.log("SendNotificationToUser");
			console.log(title);
			console.log(message);
			notifications = [...notifications, { title, message }];
		});

		connection.start().then(() => { console.log('connection started') });

	});
</script>

<main>
	<h1>Hello {name}!</h1>
	<p>Visit the <a href="https://svelte.dev/tutorial">Svelte tutorial</a> to learn how to build Svelte apps.</p>
	<ul>
		{#each notifications as item}
			<li>{item.title} : {item.message}</li>
		{/each}
	</ul>
</main>

<style>
	main {
		text-align: center;
		padding: 1em;
		max-width: 240px;
		margin: 0 auto;
	}

	h1 {
		color: #ff3e00;
		text-transform: uppercase;
		font-size: 4em;
		font-weight: 100;
	}

	@media (min-width: 640px) {
		main {
			max-width: none;
		}
	}
</style>